/* =====================
    ROOT - variables
   ===================== */
:root {
    /* colores */
    --color-fondo: #f0f2f5;
    --color-blanco: #ffffff;
    --color-negro: #0d1b2a;
    --color-azul: #4a90d9;
    --color-azul-oscuro: #1a5fa8;
    --color-gris-texto: #555;
    --color-gris-borde: #dde3ea;
    --color-gris-card: #f9f9f9;
    --color-nav-texto: #cdd6e0;

    /* tipografias */
    --fuente-titulo: 'Bebas Neue', sans-serif;
    --fuente-cuerpo: 'Barlow', sans-serif;
}

/* =====================
    RESET
   ===================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuente-cuerpo);
    background-color: var(--color-fondo);
    color: var(--color-negro);
}

/* =====================
    HEADER
   ===================== */
header {
    background-color: var(--color-negro);
    padding: 15px 30px;
    border-bottom: 1px solid #48486d;
}

.header-inner {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: var(--fuente-titulo);
    font-size: 2.5rem;
    color: var(--color-azul);
}

header h1 a{
    color: white;
    letter-spacing: 6px;
    text-decoration: none;
}

/* Span*/
.text-azul{
    color: var(--color-azul);

}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: var(--color-nav-texto);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

nav ul li a:hover {
    color: var(--color-azul);
}

/* =====================
    SECCIONES GENERALES
   ===================== */
section {
    margin: 0 auto;
    padding: 50px 20px;
}

section h2 {
    font-family: var(--fuente-titulo);
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: var(--color-negro);
}

/* =====================
    HERO / INICIO
   ===================== */
#inicio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(13, 27, 42, 0.75), rgba(0, 0, 0, 0.75)), url(../img/img_hero.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 60px 20px;
    text-align: center;
    gap: 20px;
}

#inicio h2 {
    font-family: var(--fuente-titulo);
    font-size: 6rem;
    letter-spacing: 6px;
    color: var(--color-blanco);
    line-height: 1;
}


#inicio p {
    font-size: 1.1rem;
    color: var(--color-nav-texto);
    max-width: 500px;
    line-height: 1.6;
}

.hero-divider {
    width: 60px;
    height: 3px;
    background-color: var(--color-azul);
}

.hero-badge {
    display: inline-block;
    border: 2px solid var(--color-azul);
    color: var(--color-azul);
    font-family: var(--fuente-titulo);
    font-size: 1rem;
    letter-spacing: 4px;
    padding: 6px 20px;
}

/*  =========================================================================
    =============================== PRODUCTOS ===============================
    ========================================================================= */
#productos {
    background-color: var(--color-blanco);
    max-width: 100%;
    padding: 50px 20px;
}

#productos h2 {
    max-width: 1100px;
    margin: 0 auto 25px;
    text-align: center;
}

.contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    background-color: var(--color-gris-card);
    border: 1px solid var(--color-gris-borde);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: background-color 0.2s ease, transform 0.3s ease-in-out;

}

.card:hover{
    transform: scale(1.05);
    background-color: #fffae66e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.card h3 {
    font-family: var(--fuente-titulo);
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    color: var(--color-negro);
    margin: 0;
}

.card p {
    color: var(--color-gris-texto);
    font-size: 14px;
    margin: 0;
}

.precio {
    font-size: 18px !important;
    font-weight: 700;
    color: var(--color-azul-oscuro) !important;
}

.card button {
    display: inline-block;
    background-color: var(--color-azul-oscuro);
    border: none;
    color: var(--color-blanco);
    padding: 9px 16px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    margin-top: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card button:hover {
    background-color: var(--color-azul);
}

/*  =========================================================================
    ================================= FOOTER ================================
    ========================================================================= */
footer {
    background-color: var(--color-negro);
    color: #aaa;
    text-align: center;
    padding: 20px 30px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
}

footer ul li a {
    color: #aaa;
    text-decoration: none;
    font-weight: bold;
}

footer ul li a:hover {
    color: var(--color-azul);
}

/*  =========================================================================
    =============================== CONTACTO ================================
    ========================================================================= */
#contacto {
    background-color: var(--color-blanco);
    max-width: 100%;
    padding: 50px 20px;
}

#contacto h2 {
    max-width: 600px;
    margin: 0 auto 10px;
}

#contacto > p {
    max-width: 600px;
    margin: 0 auto 25px;
    color: var(--color-gris-texto);
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form label {
    font-weight: 700;
    color: var(--color-negro);
}

form input,
form textarea {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #bcc5d0;
    border-radius: 4px;
    font-family: var(--fuente-cuerpo);
    background-color: #f5f7fa;
    color: #222;
    resize: vertical;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: var(--color-azul);
    
}

form button {
    background-color: var(--color-azul-oscuro);
    color: var(--color-blanco);
    padding: 12px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--fuente-titulo);
    letter-spacing: 1px;
    font-size: 1.1rem;
}

form button:hover {
    background-color: var(--color-negro);
}

.info-contacto {
    max-width: 600px;
    margin: 30px auto 0;
}

.info-contacto p {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #444;
}
.info-contacto img{
    width: 20px;
    height: 20px;    
}


/*  ==============================================================================
    =============================== CARRITO COMPRA ===============================
    ============================================================================== */

.body-carrito{
    background-color: var(--color-blanco);
}

#carrito-compra{
    min-height: 74vh;
    max-width: 100%;
    padding: 50px 20px;
}

#carrito-compra h2{
    max-width: 1100px;
    margin: 0 auto 25px;
    text-align: center;
}

/* div */
.contenedor-tarjetas-carrito{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    max-width: 1100px;
    margin: 0 auto;
}


/* Article */
.tarjeta-carrito{
    display: grid;
    grid-template-columns: 100px 140px 1fr 100px 180px;
    align-items: center;
    column-gap: 20px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    /* margin-bottom: 10px; */
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.tarjeta-carrito:hover {
    background-color: #fffae66e;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.tarjeta-carrito img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-self: center;
}

.tarjeta-carrito h3{
    font-size: 1.1rem;
}

.tarjeta-carrito p{
    font-size: 0.95rem;
    color: #555;
    line-height: 1.4;
}


.btn-eliminar-carrito{
    background-color: #b02a2a;
    color: var(--color-blanco);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    justify-self: end;
    white-space: nowrap;
    
}

.btn-eliminar-carrito:hover{
    background-color: #8c2020;
}



.mensaje-carrito-vacio {
    text-align: center;
    font-family: var(--fuente-titulo);
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-blanco);
    background-color: var(--color-azul-oscuro);
    border-radius: 6px;
    padding: 60px 20px;
    margin: 0;
}

/* BOTONES */

.acciones-carrito{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}


.btn-vaciar-carrito {
    width: 180px;
    background-color: #b02a2a;
    color: var(--color-blanco);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-vaciar-carrito:hover {
    background-color: #8c2020;
}

.btn-finalizarCompra-carrito{
    width: 180px;
    background-color: #403F6F;
    color: var(--color-blanco);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-finalizarCompra-carrito:hover{
    background-color: #403f6fc6 ;
}

/*  =============================================================================
    =============================== MEDIA QUERIES ===============================
    ============================================================================= */
@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .header-inner {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    nav ul {
        justify-content: center;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    #inicio h2 {
        font-size: 4rem;
    }
}

@media (max-width:768px){

    .tarjeta-carrito{
        grid-template-columns: 100px 1fr;
        grid-template-areas:
            "img nombre"
            "img descripcion"
            "img precio"
            "boton boton";
    }

    .tarjeta-carrito img{
        grid-area: img;
    }

    .tarjeta-carrito h3{
        grid-area: nombre;
    }

    .descripcion{
        grid-area: descripcion;
    }

    .precio{
        grid-area: precio;
        font-weight: bold;
    }

    .btn-eliminar-carrito{
        grid-area: boton;
        justify-self: center;
    }
}